@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Sarabun;
  src: url('../src/assets/fonts/Sarabun/Sarabun-Light.ttf');
}

@font-face {
  font-family: Sarabun-Bold;
  src: url('../src/assets/fonts/Sarabun/Sarabun-Bold.ttf');
}

@font-face {
  font-family: Prompt;
  src: url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

html,
body {
    overflow-x: clip;
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}

#app {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  touch-action: manipulation;
}

.btn, .font-bold {
  font-family: "Sarabun-Bold", sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
  --tw-bg-opacity: 1;
  background-color: #fff !important;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

